body {
	background: lightblue;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top:0;
	width: 100%;
}

div {
	text-align: center;
}

li {
	float: left;
	margin:0px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

li {
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a:hover {
  background-color: #111;
}
/*a {
	margin: 40px;

}*/

h1, h2, h3 {
	text-align: center;
	color: blue;
	padding: 35px;
}

p {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	margin: 5px;
	justify-content: space-around;
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	margin: 5px;
	justify-content: space-around;
}